.wrapper {
  box-sizing: border-box;
  width: 1000px;
  margin: auto;
  padding: 18px 46px 0px 44px;
  background-color: white;
  font-family: Arial, sans-serif;
}

.telefone {
  float: left;
  padding-right: 16px;
  font-size: 18px;
  font-family: arial;
  color: #1e6383;
  line-height: 27px;
  letter-spacing: 0.45px;
}

.avtoriz {
  float: left;
}

.login_form {
  height: 25px;
  line-height: 25px;
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 11px;
  color: #fff;
  background: linear-gradient(to bottom, rgba(31, 102, 133, 1) 0%, rgba(13, 52, 88, 1) 100%);
  border-radius: 3px;
  box-shadow: 1px 2px 6px 0px rgba(89, 109, 128, 1);
}

.login_form img {
  vertical-align: top;
  display: inline-block;
  padding: 4px 0px 3px 7px;
}

.login_form input {
  box-sizing: border-box;
  width: 115px;
  height: 18px;
  margin-right: 4px;
  padding-left: 4px;
  border-radius: 1px;
  border: 1px solid grey;
  box-shadow: 0px 0px 2px 0px rgba(130, 148, 156, 1);
  color: #97a2a6;
  margin-top: 3px;
  margin-left: -1px;
  font-size: 11px;
  font-family: "Lucida Sans Unicode", sans-serif;
  vertical-align: top;
  line-height: 12px;
}

.login_form a {
  text-decoration: none;
  color: #fff;
}

a.lost_pass {
  height: 19px;
  margin-left: 18px;
  margin-right: 10px;
  border-bottom: 1px solid #7c8794;
  font-size: 12px;
  color: #bfbfbf;
  letter-spacing: -0.5px;
  display: inline-block;
}

.shadowed {
  float: right;
  margin-right: 13px;
  position: relative;
}

.btn_group {
  position: relative;
  background-color: white;
  display: inline-block;
  width: 67px;
  height: 19px;
  margin: 1px 0px 0px 17px;
  padding-left: 8px;
  border: 1px solid #c1c8cb;
  border-radius: 15px;
}

.btn_group a {
  margin-right: 5px;
}

.baner {
  margin-top: 40px;
}

.menu_top {
  height: 34px;
  margin-top: 5px;
  box-sizing: border-box;
  background-color: #17191b;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(44, 48, 52) 87%, rgb(87, 96, 104) 100%);
  background-image: -moz-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(44, 48, 52) 87%, rgb(87, 96, 104) 100%);
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.menu {
  position: relative;
  padding-left: 120px;
}

.menu_item {
  float: left;
  width: 100px;
}

.menu_item a {
  display: block;
  color: #b1bcc0;
  text-decoration: none;
  text-align: center;
  line-height: 34px;
  font-size: 13px;
  font-family: Lucida Sans Unicode;
  text-transform: uppercase;
}

.menu_item a:hover {
  background-color: #154b6d;
  border-radius: 20px;
  color: white;
}

.shop_cart {
  float: right;
  margin-right: 15px;
}

.shop_cart span {
  padding-right: 5px;
  color: white;
  line-height: 34px;
  font-family: Arial;
  font-size: 12px;
  color: #868e92;
}

.container {
  margin-top: 10px;
  height: 607px;
}

.katalog {
  float: left;
}

.katalog_h1 {
  width: 180px;
  height: 24px;
  border: 1px solid #79878d;
  box-shadow: 0px 2px 3px 0px rgba(150, 150, 150, 1);
  border-radius: 15px;
}

.katalog_h1 img {
  display: inline-block;
  padding: 1px;
}

.katalog_h1 span {
  font-size: 13px;
  font-family: Lusida sans Unicode;
  text-transform: uppercase;
  color: #114165;
}

.katalog_h2 {
  margin-top: 14px;
  width: 149px;
  height: 26px;
  border: 1px solid #79878d;
  border-radius: 15px;
}

.katalog_h2 img {
  padding: 1px;
}

.katalog_h2 span {
  font-size: 14px;
  font-family: Lusida sans Unicode;
  text-transform: uppercase;
  color: #114165;
}

.katalog_list {
  margin-left: 34px;
}

.katalog_list li {
  list-style: circle;
  color: #114165;
  padding: 5px;
}

.katalog_list li a {
  text-decoration: none;
  color: #114165;
}

.katalog_list li a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.brand {
  float: right;
}

.katalog_list1 {
  margin-left: 34px;
}

.katalog_list1 li {
  list-style: unset;
  color: #114165;
  padding: 5px;
}

.katalog_list2 {
  color: #114165;
  padding: 5px;
  font-size: 13px;
  font-family: Lusida sans Unicode;
}

.but {
  margin-top: 20px;
}

.but1 {
  padding: 10px 15px;
  border: 0.1px solid transparent;
  border-radius: 15px;
  background-color: #195779;
  color: white;
  font-size: 11px;
  font-family: Arial;
  text-transform: uppercase;
}

.tovar {
  float: left;
  width: 527px;
  margin-left: 10px;
  background-image: url(../img/center.png);
}

.tovar li {
  padding-top: 10px;
}

.tovar a {
  text-decoration: none;
}

.tovar p {
  font-size: 15px;
  font-family: Lusida Sans Unicode;
  color: #206988;
}

.tovar span {
  font-size: 13px;
  font-family: Lusida Sans Unicode;
  color: black;
}

.price.price {
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
  font-style: italic;
  color: #114165;
}

.goodyear {
  float: left;
  width: 135px;
  margin: 20px;
  text-align: center;
}

.goodyear_img {
  width: 134px;
  height: 125px;
  background-color: white;
  padding-top: 5px;
  border-radius: 8px;
  border: 1px solid #adb6b9;
}

.nokian {
  float: left;
  text-align: center;
  margin: 20px;
}

.hankook {
  float: right;
  text-align: center;
  margin: 20px;
}

.logos {
  clear: both;
  margin-top: 40px;
  text-align: center;
}

.logos img {
  padding-left: 10px;
}

.footer {
  width: auto;
  height: 100px;
  margin-top: 25px;
  background-color: #213a4d;
  text-align: center;
  line-height: 35px;
}

.footer a {
  padding: 0 10px 0 5px;
  text-decoration: none;
  font-size: 12px;
  font-family: Arial;
  color: #bec6c9;
}

.footer a:hover {
  color: #52abcb;
}

.footer span {
  color: white;
}

.footer p {
  font-size: 10px;
  font-family: Arial;
  color: #7f4740;
}
