* {
  margin: 0;
  padding: 0
}

body {
  background: url(../img/background1.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* HEADER */
.header {
  height: 36px;
  background-image: url(../img/mback.png);
}

.menu {
  float: right;
  margin-right: 18px;
  list-style: none;
}

.menu li {
  box-sizing: border-box;
  display: inline-block;
}

.menu li a {
  padding: 11px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-family: tahoma;
  line-height: 14px;
}

.menu li a:hover {
  background-color: #4eabda;
  color: white;
}

.menu_item a {
  color: #60b5ed;
}

.menu_minhas a {
  color: white;
  border-left: 1px solid #60b5ed;
}

.menu_ola a {
  color: white;
  background: linear-gradient(to bottom, #50afdc 0%, #2f7cc5 100%);
}

/*CONTAINER*/
.container {
  background-image: url(../img/container.png);
  width: 546px;
  height: 611px;
  margin: auto;
  margin-top: 210px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: Tahoma;
  line-height: 60px;
}

.facebook {
  display: block;
  margin-top: 36px;
  text-align: center;
}

.ou {
  position: relative;
  padding-top: 30px;
  text-align: center;
  font-size: 14px;
  font-family: Tahoma;
  color: #999999;
}

.ou:before {
  content: '';
  width: 126px;
  border-top: 1px solid #2e382e;
  border-bottom: 1px solid black;
  position: absolute;
  top: 38px;
  left: 131px;
}

.ou:after {
  content: '';
  width: 126px;
  border-top: 1px solid #2e382e;
  border-bottom: 1px solid black;
  position: absolute;
  top: 38px;
  right: 131px;
}

form {
  text-align: center;
}

.user {
  padding-top: 20px;
}

.edit {
  width: 275px;
  height: 35px;
  padding-left: 18px;
  background-color: black;
  color: white;
  border: 0.1px solid transparent;
  font-size: 14px;
  font-family: Tahoma;
}

.edit:hover {
  background-color: #1b5288;
  border-radius: 2px;
  box-shadow: 0 0 10px;
}

.checkbox {
  padding-top: 20px;
  color: white;
  font-size: 14px;
  font-family: Tahoma;
}

.submit {
  padding-top: 20px;
}

.account {
  width: 150px;
  height: 35px;
  background-color: #2e7bc4;
  color: white;
  border: 0.1px solid transparent;
  border-radius: 5px;
}

p {
  padding-top: 20px;
  color: white;
  font-size: 11px;
  font-family: Tahoma;
}
