@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothiccyrillic-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothiccyrillic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.wrapper {
  background-image: url(../img/bg.png);
  height: 850px;
}

.header {
  width: 960px;
  height: 280px;
  margin: 0 auto;
  padding-top: 70px;
}

.logo {
  float: left;
}

.logo p {
  font-size: 48px;
  font-family: 'League Gothic';
  text-transform: uppercase;
  color: white;
}

.er {
  background: linear-gradient(to top, #34263b, #553c61, #745083);
  -webkit-background-clip: text;
  color: transparent;
}
.navigation {
  float: right;
}

.menu li {
  float: left;
  padding-left: 40px;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-family: 'League Gothic';
  text-transform: uppercase;
  line-height: 40px;
}

.menu li a:hover {
  border-bottom: 2px solid #edbfff;
}

.slider {
  height: 385px;
  background-image: url(..//img/overlay.png);
}
.lorem {
  width: 960px;
  margin: 0 auto;
}

.text {
  width: 500px;
  float: left;
  margin-top: 45px;
}

.lorem_lorem {
  font-size: 40px;
  font-family: 'League Gothic';
  color: white;
}

.lorem_it {
  font-size: 32px;
  font-family: 'League Gothic';
  line-height: 45px;
  color: #edbfff;
}

.lorem_semper {
  width: 500px;
  font-size: 18px;
  font-family: 'Open sans';
  font-weight: 300;
  line-height: 25px;
  color: white;
}


.tel {
  margin-top: -15px;
  position: relative;
  float: right;
}

.tel a {
  display: block;
  position: absolute;
  top: 150px;
  left: 130px;
}

.sprite {
  clear: both;
  float: right;
  margin-right: 165px;
  margin-top: 15px;
}


.menu_sprite {
  position: relative;
  overflow: hidden;
}

.menu_sprite li {
  float: left;
  padding: 5px;
}
.menu_sprite a {
  display: block;
}

.menu_sprite a:hover {
  background-image: url(../img/circle_hover.png);
  width: 17px;
  height: 17px;
}

.blurbs {
  height: 349px;
  background: linear-gradient(to top, #35273c, #573d62, #745083);
  border: 1px solid #33253a;
}

.about {
  width: 960px;
  margin: 0 auto;
}

.read {
  width: 310px;
  display: inline-block;
  margin-top: 80px;
}

.about_our {
  font-size: 30px;
  font-family: 'League Gothic';
  color: white;
  line-height: 40px;
}

.nunc {
  width: 260px;
  padding-left: 36px;
  font-size: 16px;
  font-family: 'Open Sans';
  line-height: 25px;
  color: white;
}

.read a {
  float: right;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: 'League Gothic';
  line-height: 80px;
}

.read a:hover {
  color: white;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.news {
  height: 610px;
  background-color: #f9f9f9;
}

.news_body {
  width: 960px;
  margin: 0 auto;
}

.testimonials {
  width: 425px;
  height: 293px;
  margin-top: 90px;
  margin-bottom: 95px;
  background-image: url(../img/bgtes.png);
  float: left;
}

.ping_black {
  font-size: 30px;
  font-family: 'League Gothic';
}

.ping_black span {
  color: #edbfff;
}

.nunc_tes {
  font-size: 16px;
  font-family: "Open sans";
  line-height: 35px;
  font-weight: 200;
}
.blog {
  width: 400px;
  float: right;
  margin-top: 125px;
}

.recent {
  font-size: 30px;
  font-weight: 400;
  font-family: 'League Gothic';
}

.blog img {
  float: left;
}


.nb {
  float: left;
  padding-left: 10px;
}

.nb span {
  line-height: 27px;
}

.nunc_blog {
  font-size: 16px;
  font-family: "Open sans";
  font-weight: 700;
}

.post {
  font-size: 16px;
  font-family: "Open sans"
}

.blog_2 {
  clear: both;
  padding-top: 10px;
}

.logos {
  width: 960px;
  margin: 0 auto;
}

.logos img {
  margin-left: 80px;
  margin-top: 25px;
}

.block {
  position: relative;
  height: 355px;
  background-color: #ececec;
  border-top: 1px solid #d8d8d8;
}

.block_center {
  width: 960px;
  margin: 95px auto;
}

.pi {
  font-size: 48px;
  font-family: 'League Gothic';
  line-height: 70px;
}

.recco {
  font-size: 30px;
  font-family: 'league Gothic';
  line-height: 40px;
}

.er_1 {
  color: #b9b9b9;
}

.cop {
  font-size: 16px;
  font-family: Georgia;
  font-style: italic;
  color: #c5c5c5;
}

.nun_all {
  font-size: 16px;
  font-family: "Open Sans";
  color: #787878;
  padding-right: 10px;
  line-height: 20px;
}

.buller {
  width: 33%;
  float: left;
}

.comm {
  width: 33%;
  float: left;

}

.news_cat {
  width: 33%;
  float: left;
}

.footer {
  height: 120px;
  background-image: url(../img/footer.png);
}


.footer_ul {
  width: 960px;
  margin: 0 auto;
  padding-top: 50px;
}

.footer_menu {

}

.footer_menu li {
  float: left;
}

.footer_menu li a {
  display: block;
  text-decoration: none;
  padding-right: 30px;
  color: white;
  font-size: 20px;
  font-family: 'League Gothic';
}

.footer_ul span {
  float: right;
  color: white;
  font-size: 12px;
  font-family: "Open Sans"
}
.as {
  font-weight: 800;
}
