@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothiccyrillic-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothiccyrillic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.wrapper {
  background-image: url(../img/bg.png);
  height: 850px;
}

.header {
  width: 960px;
  margin: 0 auto;
}

.logo {
  float: left;
}

.logo p {
  font-size: 48px;
  font-family: 'League Gothic';
  text-transform: uppercase;
  color: white;
}

.navigation {
  float: right;
}
