@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothiccyrillic-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothiccyrillic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.wrapper {
  background-image: url(../img/bg.png);
  height: 850px;
}

.header {
  width: 960px;
  height: 280px;
  margin: 0 auto;
  padding-top: 70px;
}

.logo {
  float: left;
}

.logo p {
  font-size: 48px;
  font-family: 'League Gothic';
  text-transform: uppercase;
  color: white;
}

.er {
  background: linear-gradient(to top, #34263b, #553c61, #745083);
  -webkit-background-clip: text;
  color: transparent;
}
.navigation {
  float: right;
}

.menu li {
  float: left;
  padding-left: 40px;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-family: 'League Gothic';
  text-transform: uppercase;
  line-height: 40px;
}

.menu li a:hover {
  border-bottom: 2px solid #edbfff;
}

.slider {
  height: 400px;
  background-image: url(..//img/overlay.png);
}
.lorem {
  width: 960px;
  margin: 0 auto;
}

.text {
  width: 500px;
}
